/*
Theme Name:         Autusin
Theme URI:          http://demo.wpthemego.com/themes/sw_autusin/
Description:        Autusin - Auto Parts, Equipments & Accessories WooCommerce Theme
Author:             magentech
Author URI:         https://themeforest.net/user/magentech/
Version:            2.2.2
License:            GNU General Public License v2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: rtl-language-support, four-columns
Text Domain: autusin

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.bypostauthor > article .fn:after {
	content: "\f304";
	left: 3px;
	position: relative;
	top: 5px;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
