.widget_sp_image{
	margin-bottom:40px;
	&:hover{
		img{
			opacity:0.85;
		}
	}
	img{
		width:100%;
	}
}
h1.page-title{
	font-weight: 700 !important;
	color:@body-color;
	text-transform:uppercase;
	font-size:28px;
	margin:0;
}
.mobile-layout .product-nav-wrapper{
	position: relative;
}
.box-shop,
.products-wrapper {
	padding:35px 0;

	.products-nav {
		text-align:center;
		display: inline-block;
		width: 100%;
		vertical-align: top;
		margin-bottom: 30px;
		.view-top {
			margin-bottom: 12px;
			padding-bottom: 12px;
			border-bottom: 1px solid #dddddd;
		}
		.view-mode-wrap {
			.view-mode {
				>a {
					position: relative;
					width: 40px;
					height: 40px;
					float: left;
					border: 0;
					overflow: hidden;
					background-color: #252525;
					.rtl &{
						float:right;
					}
					&:before {
					    position: absolute;
						font-size: 14px;
						font-family: FontAwesome;
						text-align: center;
						width: 40px;
						height: 40px;
						line-height: 40px;
						background-color: transparent;
						color: #898989;
						left: 0;
						color: #fff;
						.transition(all .3s);
					}
					&.active, &:hover {
						&:before {							
							background-color: @color;
						}
					}
					&.grid-view {
						&:before {
							content: "\f009";
						}
					}
					&.list-view {
						&:before {
							content: "\f0c9";
						}
					}
					>span {
						font-size: 0;
						display: none;
					}
				}
			}
		}	/* end .view-mode-wrap */
		form.woocommerce-ordering{
			float: none;
			display: inline-block;
			vertical-align: top;
			> select{
				border-color: #eee;
				height: 40px;
				padding: 0 5px;
			}
		}
		.catalog-ordering {
			display:inline-block;
			position:relative;
			ul{
				list-style: none;
			}
			.orderby-order-container {
				.show-product {
					line-height: 38px;
					margin: 0 15px;	
					color:#6b6b6b;
				}
				.orderby {
					min-width: 160px;
				}				
				.sort-count {
					min-width: 65px;
				}					
				.order-dropdown {
					margin: 0;
					background-color: #fff;
					list-style-type: none;
					text-align:left;
					.rtl &{
						text-align:right;
					}
					>li {
						position: relative;
						z-index: 4;
						cursor: pointer;
						.current-li {
							line-height: 38px;
							display: block;
						    border: 1px solid @border-color;
							a {
								display: block;
								text-indent: 15px;
								position: relative;
								&:after {
								    font-family: fontawesome;
								    content: "\f0d7";
								    font-size: 14px;
								    width: 35px;
								    line-height: 38px;
								    text-align: center;
								    position: absolute;
								    right: 0px;
								    top: 0px;
								    text-indent: initial;
								    .rtl & {
								    	right: auto;
								    	left: 0;
								    }
								}
							}
						}
						>ul {
							position: absolute;
							background-color: #fff;
							margin-left: 0;
							left: 0;
							top: 100%;
							border-left: 1px solid @border-color;
							border-right: 1px solid @border-color;
							border-bottom: 1px solid @border-color;
							width: 100%;
							list-style-type: none;
							.opacity(0);
							.scale(0);
							.origin(left, top);
							.transition(all .3s);
							>li {
								line-height: 25px;
								text-indent: 10px;
								a {
									display: block;
								}
							}
						}
						&:hover {
							>ul {
								display:block !important; .opacity(1);
								.scale(1);
								.transition(all .3s);
							}
						}
					}
				}
			}
		}	/* end .catalog-ordering */
		
	}	/* end .product-nav */

	.woocommerce-pagination {
		float: right;		
		.page-numbers {
			margin: 0;
			vertical-align: top;
			background-color: #fff;
			border:0;
			>li {
				float: left;
				border:0;
				.rtl & {
					float: right;
				}
				.page-numbers {
					width: 20px;
					height: 40px;
					line-height: 40px;
					display: block;
					padding: 0;
					color:#6b6b6b;
					.transition(all .5s);
					&.current,&:hover {
						background-color: #fff;
						color: @color;
						.transition(all .5s);
					}
					&.prev, &.next {
						font-size: 0;
						&:before {
							font-family: fontawesome;
							font-size: 14px;							
						}
					}
					&.prev {
						&:before {
							content: "\f0d9";	
							.rtl & {
								content: "\f0da";	
							}						
						}
					}
					&.next {
						&:before {
							content: "\f0da";	
							.rtl & {
								content: "\f0d9";	
							}						
						}
					}
				}
			}
		}
	}

	.products-loop {
		list-style-type: none;
		>li {
			&.product-category{
				margin-bottom: 25px;
				a img{
					margin-bottom: 15px;
				}
				h2.woocommerce-loop-category__title{
					font-size: 14px;
					color: #666;
					margin-bottom: 0;
					text-align: center;
					font-weight: 500;
					mark{
						background: none;
						color: #666;
					}
				}
				&:hover{
					h2.woocommerce-loop-category__title{
						color: @color;
						mark{
							color: @color;
						}
					}
				}
				&:last-child{
					margin-bottom: 35px;
				}
			}
		}

		&.grid {
			>li {
				.item-wrap {
					.item-detail {
						.item-content {
							
							.item-description {
								display: none;
							}
						}
					}					
				}
				&.product-type-variable{
					.item-price{
						del{
							float:none;
						}
						ins{
							float:none;
						}
					}
				}
			}
		}
		&.list {
			.item {
				width: 100%;
				.item-wrap {
					text-align: left;
					border:0;
					.rtl & {
						text-align: right;
					}
					.item-detail {
						border: none;
						&:before {
							display: none;
						}
						.products-thumb {
							width: 270px;
							max-width: 100%;
							float: left;
							margin-bottom: 0;
							overflow: hidden;
							margin-right:30px;
							.rtl & {
								float: right;
								margin-left:30px;
								margin-right:0;
							}
						}
						.item-content  {
							overflow: hidden;
							width: auto;
							display: block;
							padding:0;
							h4 {
								float: none; margin: 20px 0 !important; height: auto;
								a{
									color:@body-color;
									font-size:18px;
									font-weight: 700;
									&:after{
										display: none;
									}
								}
							}
							.reviews-content {
								display: block;	vertical-align: top;float:none;	margin-bottom:10px;
							}
							.item-price {
								clear: both;
								width: 100%;
								vertical-align: top;
								margin-bottom: 20px;
								overflow:hidden;
							}
							.item-description {
								clear: both;
								margin-bottom: 25px;
							}
							.item-bottom {
								position: static;
								margin-top: 0;
								.translateY(0);
								.opacity(1);
								.button,
								.product_type_simple,
								.product_type_variable,
								.add_to_cart_button,
								.product_type_external,
								.product_type_grouped {
									.translateY(0);
									background-color: @color;
									background-image: none !important;
									color: #fff;
									padding: 0 37px 0 37px;    height: 45px;
    line-height: 45px;
									font-size: 15px;
									float: none;
									border-radius: 0; text-transform: capitalize;
									&:before {
										color: #fff;
									}
									&:hover {
										background-color: @color;
									}
									&.loading {
										background-color: @color;
										&:after { display: none; }
									}
									&.added {
										&:after {
											display: inline-block;
											margin-left: 0;
											margin-right: 5px;
											.rtl &{
												margin-left: 5px; margin-right: 0;
											}
										}
									}
								}
								.yith-wcwl-add-to-wishlist,
								.compare-button {
									float: none; display: inline-block;	vertical-align: top;
								}
								.clear {
									display: none;
								}
								.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a, 
								.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a, 
								.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
								.compare-button a,
								.sw-quickview {
									background: #fff; border: 1px #c3c3c3 solid; float: none;
									font-size: 0; padding: 0; border-radius: 0;
									height: 45px; line-height: 45px; min-width: 45px;
									.opacity(1);
									.translateY(0);
									&:hover {
										background: @color;
										&:before {
											color: #fff;
										}
									}
									&:before {
										color: #c3c3c3; left: 15px;
										.rtl &{
											left: auto; right: 15px;
										}
									}
								}
								.sw-quickview{
									margin: 5px 4px;
								}
								.yith-wcwl-wishlistaddedbrowse,
								.yith-wcwl-wishlistexistsbrowse {
									&.show {
										a {
											background-color: @color;
											&:before{
												color: #fff;
											}
											&:hover{
												opacity: 0.8;
											}
										}
									}
								}
								.product_type_simple,
								.add_to_cart_button{
									height: 45px; line-height: 45px; min-width: 45px;
									&:hover{opacity: 0.8;}
								}
							}
						}	
					}
					&:hover {
						.item-detail{
							.item-content {
								h4 a {
									color: #333333;
									&:hover {
										color: @color;
									}
								}							
							}
						}
					}
				}
			}
		}
	}	/* end .products-loop */
}	/* end .products-wrapper */

/* =================================================== */
/* List SubCategories ================================ */
.products-loop {
	.product-category {
		a {
			text-align: center;
			display: block;
			background-color: #fff;
			img {
				margin: 0 auto;
			}
			h3 {
				font-size: 13px;
				font-weight: bold;
				margin-bottom: 0;
				padding: 12px 0;
				background-color: #eeeeee;
				color: lighten( @body-color, 14% );
				.transition(all .3s);
				.count {
					display: none;
				}
			}
			&:hover {
				h3 {
					background-color: @color;
					color: #fff;
				}
			}
		}
	}
}
.sidebar .widget_layered_nav{
	ul{
		>li{
			padding:15px 0;
			border-bottom:1px solid @border-color;
		}
	}
}
.widget_price_filter{
	padding:0 0px 20px;
	.price_slider_wrapper{
		padding:0;
	}
}

.woocommerce .product-countdown{
	padding: 10px 0;
	text-align: center;
	.countdown-row{
		.flex-display(flex);
		.justify-content(center);
		.countdown-section{
			padding: 0 3px;
			.countdown-amount{
				width: 40px;
				height: 40px;
				background: #e9e9e9;
				border-radius: 3px;
				line-height: 40px;
				text-align: center;
				display: block;
				font-weight: bold;
				color: #333;
				font-size: 14px;
				margin-bottom: 5px;
			}
			.countdown-period{
				text-transform: uppercase;
				font-size: 10px;
			}
		}
	}
}
.woocommerce.single-product .product-countdown{
	padding: 10px 0 20px;
	.countdown-row{
		.justify-content( flex-start );
	}
}
.jet-list-tree__children.open{ 
	>div{
		position: relative !important;
		opacity: 1;
		visibility: visible;	
	}
	.less-more{
	    span:before{
	    	.rotate(90deg);
	    }
	}
}
.jet-list-tree__children{
	position: relative;
	.less-more{
		position: absolute;
	    top: -29px;
	    right: 0;
	    font-size: 0;
	    border: 0;
	    width: 13px;
	    height: 13px;
	    margin: 0;
	    background-color: transparent;
	    
		span{
			position: relative;
			&:before{
				transition: all 0.3s;
				content: "";
			    background-color: #ddd;
			    width: 2px;
			    height: 13px;
			    position: absolute;
			    right: 0;
			    top: -5px;
			}
			&:after{
				content: "";
			    background-color: #ddd;
			    width: 14px;
			    height: 2px;
			    position: absolute;
			    right: -6px;
			    top: 0;
			}
		}
	}
	>div{	
	position: absolute !important;
	opacity: 0;
	visibility: hidden;
	top: 100%;
	}
}
.pagination-ajax{
	text-align:center;
	.button-ajax{
		display: inline-block; border: 1px @border-color solid;text-align:center; border-radius: 50px;
		width:100px; height:100px; font-size:12px; color:#000; text-transform:uppercase;
		margin: 20px auto 60px; background: #fff; .transition(all 0.3s); font-weight:700;
		&:hover{
			background: #fff; .transition(all 0.3s); color: @color;
			border:1px solid @color;
		}
		&:before{
			content: attr(data-title);
		}
		&.loading{
		 -webkit-animation: spin 1s linear infinite; /* Safari */
			animation: spin 1s linear infinite;
			border-top: 1px solid @color;
			&:before{
				content: "";
				background:none;
			}
		}
		&.loaded{
			&:before{
				content: attr(data-loaded);
			}
		}
	}
}
