/*
Theme Name: 	Autusin Child Theme
Theme Uri:  	http://demo.wpthemego.com/themes/sw_autusin/
Description:  	A child theme of SW Autusin
Author:     	magentech
Author Uri: 	https://themeforest.net/user/magentech/
Template:   	autusin
Version:    	2.0.5
License:    	GNU General Public License v2 or later
*/


/*container*/
.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1200px;
}


/*dropdown mega-menu*/
/*.nav.nav-pills.nav-mega .autusin-mega-menu .dropdown-menu >li {
    width: 10%;
}
.nav.nav-pills.nav-mega >li.dropdown.autusin-mega-menu .dropdown-menu li >a {
    padding-left: 0;
    padding-right: 0;
}
.nav.nav-pills.nav-mega .menu-img {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    display: block;
}*/
.nav.nav-pills.nav-mega .autusin-mega-menu .dropdown-menu {
    min-height: 200px;
    padding: 20px 10px;
}
.nav.nav-pills.nav-mega .autusin-mega-menu .dropdown-menu > li {
    width: 20%;
    float: none;
    position: initial;
    padding: 0;
}
.nav.nav-pills.nav-mega .autusin-mega-menu .dropdown-menu > li > a {
    /*background: red;*/
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    padding: 10px;
}
.nav.nav-pills.nav-mega .autusin-mega-menu .dropdown-menu > li > a:hover {
    background: #ccc;
}
.nav.nav-pills.nav-mega .autusin-mega-menu .dropdown-menu > li > a:after {
    content: "";
    position: absolute;
    right: 6px;
    top: 16px;
    z-index: 9;
    width: 7px;
    height: 7px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.nav.nav-pills.nav-mega .autusin-mega-menu .dropdown-menu > li > a span {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}
.nav.nav-pills.nav-mega .autusin-mega-menu .dropdown-menu > li > ul {
    /*background: #00a651 none repeat scroll 0 0;*/
    background: #fff;
    position: absolute;
    top: 10px;
    width: calc(80% - 20px);
    z-index: 10;
    visibility: hidden;
    padding: 0 10px;
    left: calc(20% + 7px);
    /*transition: all 0.5s;*/
}
.nav.nav-pills.nav-mega .autusin-mega-menu .dropdown-menu > li > ul li {
    width: 20%;
    float: left;
}
.nav.nav-pills.nav-mega .autusin-mega-menu .dropdown-menu > li > .dropdown-sub li a .menu-img {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 0 10px;
    display: block;
    width: auto;
    float: none;
}

.nav.nav-pills.nav-mega .autusin-mega-menu .dropdown-menu > li:hover > ul {
    visibility: visible;
    /*animation: 0.2s ease 0s normal none 1 running fadeInUp;*/
}